/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

#filmotech div.movieEssentials {
  overflow: hidden;
  margin: 0 0 1em 0;
}

 #filmotech div.cover {
   float: left;
   width: 200px;
   text-align: center;
   font-size: 1.1em;
   font-weight: bold;
 }

#filmotech div.cover img {
  margin: 0;
  padding: 0;
  width: 200px;
}

 #filmotech div.info {
   margin: 0 0 0 210px;
 }

 #filmotech h2.entry-title {
   font-size: 28px;
   color: #888;
 }

#filmotech div.info p.categories {
  color: #289dcc;
}

#filmotech-notation {
  display: block;
  width: 80px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: left;
  margin: .5em 0 1em 0;
}

#filmotech-notation.stars0  {  background-image: url('../img/note0.png');  }
#filmotech-notation.stars1  {  background-image: url('../img/note1.png');  }
#filmotech-notation.stars2  {  background-image: url('../img/note2.png');  }
#filmotech-notation.stars3  {  background-image: url('../img/note3.png');  }
#filmotech-notation.stars4  {  background-image: url('../img/note4.png');  }
#filmotech-notation.stars5  {  background-image: url('../img/note5.png');  }
#filmotech-notation.stars6  {  background-image: url('../img/note6.png');  }
#filmotech-notation.stars7  {  background-image: url('../img/note7.png');  }
#filmotech-notation.stars8  {  background-image: url('../img/note8.png');  }
#filmotech-notation.stars9  {  background-image: url('../img/note9.png');  }
#filmotech-notation.stars10 {  background-image: url('../img/note10.png'); }

#filmotech p.entryDate {
  font-size: small;
  color: #888;
}

#filmotechGridView {
  overflow: hidden;
}

#filmotechGridView div.filmotech-movie {
  float: left;
  width: 190px;
  margin: 0 4px 1em 4px;
}

#filmotechGridView div.filmotech-movie div.cover {
  height: 300px;
}

#filmotechGridView div.filmotech-movie div.title {
  text-align: center;
  font-size: .8em;
  height: 3em;
}

#filmotech-paginator {
  list-style: none;
  display: inline-block;
  padding: 0; margin: 0;
}

#filmotech-paginator li {
  display: inline;
}

#filmotech-paginator li a {
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  height: 40px;
  border-radius: 5px;
}

#filmotech-paginator li.currentPage a {
  background-color: #4CAF50;
  color: white;
}

#filmotech-paginator li:not(.currentPage) a:hover {
  background-color: #ddd;
}

#filmotech-paginator li.next a {
  float: right;
}
